%% -*- erlang -*-
[
 {elvis, [
          {config, [
                    #{dirs => [
                               "apps/*/src",
                               "src",
                               "test"
                              ],
                      filter => "*.erl",
                      ruleset => erl_files,
                      rules => [
                                {elvis_style, dont_repeat_yourself, disable},
                                {elvis_style, line_length, disable},
                                {elvis_style, macro_names, disable}
                               ]
                     }
                   ]},
          {output_format, plain}
         ]}
].
